/*next_art_fontfamily*/
@font-face {
    font-family: 'NEXT ART';
    src: url('../fonts/next_art/next_art_regular-webfont.woff2') format('woff2'),
         url('../fonts/next_art/next_art_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Ardora Pro FontFamily*/
@font-face {
    font-family: 'Arodora Pro';
    src: url('../fonts/ardora_pro/arodorapro-light-webfont.woff2') format('woff2'),
         url('../fonts/ardora_pro/arodorapro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Arodora Pro';
    src: url('../fonts/ardora_pro/arodorapro-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/ardora_pro/arodorapro-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}